@model EcoFiap.Models.ColetaModel

@{
    ViewData["Title"] = "Deletar uma coleta";
}

<h1>Delete</h1>

<h3>Você tem certeza que deseja deletar essa coleta?</h3>
<div>
    <h4>Dados da coleta que será deletado:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraAgendada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraAgendada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ColetaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para listat</a>
    </form>
</div>
