@model IEnumerable<EcoFiap.Models.ColetaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Coleta</h1>

<p>
    <a asp-action="Create">Ciar uma nova coleta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraAgendada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraAgendada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ColetaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ColetaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ColetaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
